..gitignore.un~
eclipse/RemoteSystemsTempFiles
eclipse/.metadata
eclipse/.recommenders
aerogen/.gradle/**
aerogen/.settings/**
aerogen/.classpath
aerogen/.project
aerogen/aerogen_client.launch
aerogen/aerogen_server.launch
aerogen/bin
aerogen/build/**
aerogen/logs
aerogen/run
aerogen/RemoteSystemsTempFiles
aerogen/*.class

