<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/forge-1.11.2-13.20.0.2228-mdk/src/main/java/dev/mortus/test/GUITestView.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dev.mortus.test.GUITestView"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="forge-1.11.2-13.20.0.2228-mdk"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xverify:none"/>
</launchConfiguration>
